
  <mat-toolbar fxLayout="row"
               fxLayoutAlign="center center">

    <mat-select [(value)]="selectedLecture" *ngIf="!addShit">
      <mat-option *ngFor="let lecture of lectures" [value]="lecture">
        {{ lecture.name }}
      </mat-option>
    </mat-select>
    <button mat-button (click)="addShit = true" *ngIf="!addShit">Add Lecture</button>

    <div *ngIf="addShit" fxFlex="40%"  style="justify-content: space-between;">
      <mat-form-field class="example-full-width" style="width: 100%;">
        <input type="text" matInput placeholder="Questionarie name" #lName>
      </mat-form-field>

      <button mat-button (click)="addShit = false; addQuestionarie(lName.value)">Add Lecture</button>
      <button mat-button (click)="addShit = false; ">Quit</button>
    </div>
  </mat-toolbar>
  <mat-toolbar fxLayout="row"
               fxLayoutAlign="center center">

    <mat-select [(value)]="selectedLecture.questionarie" placeholder="Select questionarie for this lecture">
      <mat-option *ngFor="let questionarie of questionaries" [value]="questionarie">
        {{ questionarie.name }}
      </mat-option>
    </mat-select>
  </mat-toolbar>

<div [froalaEditor] [(ngModel)]="selectedLecture.data"></div>