<mat-sidenav-container class="surveyBlock">
    <mat-sidenav #sidenav mode="side">
        <div class="side-nav-heder">
            <h4>Sections</h4>
        </div>

        <div class="add-section">
            <p class="block-item" (click)="openAddSectionDialog()">+ Add section</p>
        </div>

        <div class="block-container">
            <div *ngFor="let item of items let index = index" (click)="setActiveSection(item, index)"
                 class="not-active-item">
                <div class="block-item">
                    <div>
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar fxLayout="row"
                     fxLayoutAlign="center center">

                <mat-select [(value)]="selectName" *ngIf="!addShit">
                    <mat-option *ngFor="let test of this.questionaries" [value]="test.name"  (click)="selectTest(test.sections)" >
                        {{ test.name }}
                    </mat-option>
                </mat-select>
            <button mat-button (click)="addShit = true" *ngIf="!addShit">Add Questionarie</button>

            <div *ngIf="addShit" fxFlex="40%"  style="justify-content: space-between;">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input type="text" matInput placeholder="Questionarie name" #qName>
                </mat-form-field>

                <button mat-button (click)="addShit = false; addQuestionarie(qName.value);sidenav.toggle()">Add Questionarie</button>
                <button mat-button (click)="addShit = false; ">Quit</button>
            </div>
        </mat-toolbar>




        <div fxLayout="row"
             fxLayoutWrap fxLayoutGap="0.5%"
             fxLayoutAlign=" center"  >

            <div fxFlex="10%" fxLayoutAlign="center none">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
                </button>
            </div>

            <div fxFlex="80%" fxLayoutAlign="space-between center" *ngIf="activeSection">
                <h2>{{activeSection.name}}</h2>

                <div>
                    <button mat-button (click)="openAddQuestionDialog()">Add Question</button>
                    <button mat-button>Edit</button>
                </div>

            </div>

            <div fxFlex="10%"></div>


        </div>

        <div fxLayout="column" *ngIf="activeSection">

            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 *ngFor="let question of activeSection.questions let index = index">

                <mat-card fxFlex="80%"
                          fxLayoutAlign="space-between center">

                    <div fxLayout="row"
                         fxFlex="100%"
                         fxLayoutAlign="center center">

                        <div fxFlex="10%" fxLayoutAlign="center center">
                            <mat-card-subtitle>№{{index + 1}}</mat-card-subtitle>
                        </div>

                        <div fxFlex="90%" fxLayoutAlign="space-between center">
                            <p>
                                {{question.name}}
                            </p>

                            <div>
                                <button mat-icon-button>
                                    <mat-icon aria-label="Edit" (click)="openAddQuestionDialog(question, index)">edit
                                    </mat-icon>
                                </button>

                                <button mat-icon-button>
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                </button>
                            </div>

                        </div>


                    </div>

                </mat-card>

            </div>


        </div>
        <!--<mat-card>Simple card</mat-card>-->

        <!--<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"-->
        <!--fxLayoutAlign="center">-->
        <!--<div fxFlex="20%">-->
        <!--<img mat-card-image class="img"-->
        <!--src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">-->
        <!--</div>-->
        <!--<div fxFlex="20%">-->
        <!--<img mat-card-image class="img"-->
        <!--src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">-->
        <!--</div>-->
        <!--<div fxFlex="20%">-->
        <!--<img mat-card-image class="img"-->
        <!--src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">-->
        <!--</div>-->
        <!--<div fxFlex="20%">-->
        <!--<img mat-card-image class="img"-->
        <!--src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">-->
        <!--</div>-->
        <!--</div>-->


    </mat-sidenav-content>
</mat-sidenav-container>