<div fxLayout="row" style="height: -webkit-fill-available"
     fxLayoutAlign="center center" class="bg">

    <mat-card fxFlex="40%">

        <!--<div style="text-align: center">-->
            <!--<mat-radio-group [(ngModel)]="type" class="example-radio-group">-->
                <!--<mat-radio-button class="example-radio-button"-->
                                  <!--value="login"> login-->
                <!--</mat-radio-button>-->
                <!--<mat-radio-button class="example-radio-button"-->
                                  <!--value="register"> register-->
                <!--</mat-radio-button>-->
            <!--</mat-radio-group>-->
        <!--</div>-->
        <mat-card-header>
            <mat-card-title fxLayout="column">{{type}} <span style="color: red; margin: 2px"> {{error}} </span></mat-card-title>
            <!--<mat-card-title fxLayout="column">{{error}}</mat-card-title>-->


        </mat-card-header>
        <mat-card-content fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]=user.name type="text">
            </mat-form-field>
            <mat-form-field *ngIf="type === 'Register' ">
                <input matInput placeholder="Surname" [(ngModel)]=user.surname type="text">
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Password" [(ngModel)]=user.password type="text">
            </mat-form-field>
            <mat-form-field *ngIf="type === 'Register' ">
                <input matInput placeholder="Email" [(ngModel)]=user.email type="email">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="space-between none" style="
    padding: 7px 15px;">
            <a href="javascript:void(0)"  (click)="type = 'Login'; error=''" *ngIf="type === 'Register'">Login >></a>
            <a href="javascript:void(0)"  (click)="type = 'Register'; error=''" *ngIf="type === 'Login'">Register >></a>
            <button mat-raised-button color="primary" (click)="type === 'Login' ? login(): register ()">{{type}}</button>
        </mat-card-actions>
    </mat-card>
</div>
