.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.mat-toolbar {
  justify-content: space-between;
}

mat-card-subtitle {
  margin: 0;
}

.mapping-name {
  padding-bottom: 1.25em;
  margin-right: 20px;
  border-top: .84375em solid transparent;
  div {
    padding: .4375em 0;
  }
}
