<mat-toolbar>
    <span (click)="workingOnTest = false">
        Tester
    </span>
    <mat-icon class="example-icon" (click)="logout()">verified_user</mat-icon>
</mat-toolbar>

<div fxLayout="column" *ngIf="!workingOnTest">

    <div fxLayout="row"
         fxLayoutAlign="center center"
         *ngFor="let test of testsArr let index = index" style="margin-top: 10px">

        <mat-card fxFlex="80%"
                  fxLayoutAlign="space-between center">

            <div fxLayout="row"
                 fxFlex="100%"
                 fxLayoutAlign="center center">

                <div fxFlex="10%" fxLayoutAlign="center center">
                    <mat-card-subtitle>№{{index + 1}}</mat-card-subtitle>
                </div>

                <div fxFlex="90%" fxLayoutAlign="space-between center">
                    <p>
                        {{test.name}}
                    </p>

                    <div>
                        <button mat-button (click)="startTest(index)"> Start</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>


<div fxLayout="row"
     fxLayoutAlign="center center" *ngIf="workingOnTest">
    <div fxFlex="80%">
        <h2>{{curentSection.name}}</h2>
        <mat-card *ngFor="let question of curentSection.questions let indexQuestion = index"
                  style="margin-top: 10px">
            <label>{{question.name}}: </label>
            <div *ngIf="question.type === 'radio'">

                <mat-radio-group [(ngModel)]="userAnswers[indexQuestion]" class="example-radio-group">
                    <mat-radio-button class="example-radio-button"
                                      *ngFor="let answer of question.answers let answerIndex = index"
                                      [value]="answerIndex">
                        {{answer.name}}
                    </mat-radio-button>
                </mat-radio-group>

            </div>

            <div *ngIf="question.type === 'checkbox'">

                <div class="example-radiwo-group">
                    <mat-checkbox class="example-radio-button"
                                  *ngFor="let answer of question.answers let answerIndex = index"
                                  [(ngModel)]="userAnswers[indexQuestion][answerIndex]">
                        {{answer.name}}
                    </mat-checkbox>
                </div>

            </div>

            <div *ngIf="question.type === 'mapping'" fxLayout="column">
                <div *ngFor="let mpFirst of question.answers[0] let answerIndex = index" fxLayout="row">


                    <div class="mapping-name">
                        <div>
                            {{mpFirst.name}}
                        </div>
                    </div>


                    <mat-form-field>
                        <mat-select [(value)]="userAnswers[indexQuestion][answerIndex]">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let mpSecond of question.answers[1]"
                                        value="{{mpSecond.trueIndex === answerIndex}}">
                                {{mpSecond.name}} {{mpSecond.trueIndex === answerIndex}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
            </div>
        </mat-card>

        <div fxLayout="row"
             fxLayoutAlign="end center" style="margin-top: 10px">
            <button mat-raised-button color="primary" (click)="next()">Next</button>
        </div>
    </div>

</div>
