<h1 mat-dialog-title>Add New Question</h1>
<div mat-dialog-content>
  <p>Type text for new question</p>
  <mat-form-field class="width-100">
    <input matInput  placeholder="Text" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field class="width-100">
    <mat-select required [(ngModel)]="type">
      <mat-option value="radio">Radio button</mat-option>
      <mat-option value="checkbox">Checkbox</mat-option>
    </mat-select>
    <mat-label>Type of question</mat-label>
  </mat-form-field>
<div>
  <button
          class="add-question"
          mat-button (click)="addAnswer()">Add Answer</button>
  <br>
  <div *ngFor="let answer of answers">
  <mat-form-field class="mat-input-element">
    <input ngDefaultControl  matInput placeholder="answer" [(ngModel)]="answer.name" >
  </mat-form-field>
    <mat-checkbox ngDefaultControl (click)="answer.isTrue = !answer.isTrue" >Right option</mat-checkbox>
  </div>
</div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeClick()">Cancel</button>
  <button mat-button (click)="submitClick()">Submit</button>
</div>


