<ul class="list-group list-group-flush">
    <li class="list-group-item" style="background-color: #E3F2FD">
        <div class="row">
            <div class="col text-center">Name</div>
            <div class="col text-center">Surname</div>
            <div class="col text-center">Email</div>
            <div class="col text-center">Tests info</div>
        </div>

    </li>
    <li class="list-group-item" *ngFor="let user of users">
        <div class="row">
            <div class="col text-center">{{user.name}}</div>
            <div class="col text-center">{{user.surname}}</div>
            <div class="col text-center">{{user.email}}</div>
            <div class="col text-center">
                <div class="column" *ngFor="let test of user.tests">
                    <span>{{test.name}}</span> - <span>{{test.mark}}</span> <br>
                </div>

            </div>
        </div>
    </li>
</ul>

